<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Дата внесения</th>
      <th scope="col">Имя</th>
      <th scope="col">Очки</th>
      <th scope="col">Добавить</th>
      <th scope="col">Убрать</th>
      <th scope="col">Удалить</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.creationDate | date }}</td>
      <td (click)="navigateToUser(user.id)">{{ user.name }}</td>
      <td><input [value]="user.score" /></td>
      <td><button>+</button></td>
      <td><button>-</button></td>
      <td><button>Мусорка</button></td>
    </tr>
  </tbody>
</table>
<form [formGroup]="userForm">
  <input formControlName="name" placeholder="Имя" />
  <button (click)="addUser()">Добавить</button>
</form>
